<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
 Required only if your app needs to access images or photos
      that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--
 Required only if your app needs to access videos
       that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!--
 Required only if your app needs to access audio files
       that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application android:requestLegacyExternalStorage="true" >
        <activity
            android:name=".components.forward.ForwardDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".components.forward.ForwardSelectActivity"
            android:exported="false" />
        <activity
            android:name=".components.group.ui.ZIMKitGroupMembersActivity"
            android:exported="false" />
        <activity
            android:name=".components.message.ui.ZIMKitGroupChatSettingActivity"
            android:exported="false" />
        <activity
            android:name=".components.message.ui.ZIMKitPrivateChatSettingActivity"
            android:exported="false" />
        <activity
            android:name=".components.group.ui.ZIMKitCreateAndJoinGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.message.ui.ZIMKitMessageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.message.ui.ZIMKitCreatePrivateChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.message.ui.ZIMKitVideoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.message.ui.ZIMKitTransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <provider
            android:name=".common.utils.ZIMKitFileProvider"
            android:authorities="${applicationId}.zimkitcommon.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public_open" />
        </provider>

        <activity
            android:name=".components.album.ui.MatisseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.album.internal.ui.AlbumPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.album.internal.ui.SelectedPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.album.browserimage.ZIMKitBrowserImageActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.zimkitalbum.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>